*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    overflow: hidden;
    font-family: monospace, sans-serif;
}

.content{
    width: 100vw;
    height: 100vh;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    overflow: hidden !important;
}

.name{
    font-size: 52px;
    padding: 2px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.weather{
    padding: 5px;
    display: flex;
    justify-content: center;
}

.weather .desc{
    font-size: 22px;
}

.temperature{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    padding: 5px;
}

.temp{
    font-size: 22px;
}

.suntime{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.general{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.temp-min-max{
    padding: 5px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar{
    position: absolute;
    right: 20px;
    top: 20px;
    transform: translateX(110%);
    transition: transform 150ms ease-in-out;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.search-bar input{
    height: 30px;
    padding: 5px;
    font-size: 16px;
}

.search-bar.show{
    transform: translateX(0%);
}

#searchBtn{
    position: absolute;
    right: 20px;
    top: 30px;
    width: 30px;
    height:30px;
    padding: 8px;
    border-radius: 50%;
    text-align: center;
    border: none;
    background: url(./search-icon.svg);
    background-repeat: none;
    background-size: cover;
    transform: scale(1);
    transition: transform 150ms ease-in-out;
}

#searchBtn:hover{
    transform: scale(1.3);
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 35px 15px rgb(168, 166, 166);
}

.credits{
    width: 100%;
    position: absolute;
    bottom: 10px;
    text-align: center;
    opacity: .3;
}

.credits a{
    text-decoration: none;
    color: black;
}

.credits a:hover{
    color: blue;
}

.credits:hover{
    opacity: 1;
}

@media screen and (max-width: 500px){
    .name{
        font-size: 42px;
    }
}